.introducing{
	.container{
		background: $secondary-color;
		padding-top: 50px;
		padding-bottom: 50px;
		@media(min-width:992px){
			padding-top: 100px;
			padding-bottom: 100px;
		}
	}
	p{
		font-size: 16px;
		line-height: 1.3;
		@media(min-width:1200px){
			font-size: 18px;
		}
		&:not(:first-child){
			margin-top: 15px;
		}
		&.bullet{
			position: relative;
			padding-left: 20px;
			&:before {
				content: "\2714";
				width: 20px;
				height: 20px;
				display: block;
				color: #000;
				position: absolute;
				top: -5px;
				left: 0;
				font-size: 20px;
			}
		}
	}
	.row > div{
		display: flex;
	}
}