// Main colors
$primary-color: #000;
$secondary-color: #fff;
$accent-color: #FFE600;
$text-color: #fff;

// Button colors
$btn-text: #fff;
$btn-hover: $primary-color;
$btn-color: $accent-color;

$third-color: #dcdcdc;